.form {
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.form label {
  margin-bottom: 8px;
}

.form input {
  font-size: 16px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form input[type="file"],
.form select,
.form select option {
  min-height: 48px;
  padding: 8px 16px;

  outline: none;
  border-radius: 8px;
  border: 1px solid var(--gray-100);

  background-color: var(--gray-50);

  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.form input[type="file"] {
  cursor: pointer;
}

.form input[type="file"]::-webkit-file-upload-button {
  padding: 8px 12px;

  background-color: var(--orange-500);
  color: var(--white);

  border: none;
  border-radius: 8px;
  transition: filter 0.2s;

  font-weight: 600;
  letter-spacing: 0.5px;
}

.form input:hover,
.form select:hover,
.form input:focus,
.form select:focus {
  border-color: var(--orange-500);
}

.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login .form input[type="password"] {
  padding-right: 80px;
}

.password-visibility-toggle,
.confirm-password-visibility-toggle {
  position: absolute;
  top: calc(50% + 8px);
  right: 16px;
  transform: translateY(calc(-50% + 8px));
  cursor: pointer;
  color: var(--gray-100);
  user-select: none;
}

.input-group-inline {
  display: flex;
  gap: 16px;
}

.input-group-inline > div {
  flex: 1;
}

.flex-1 {
  flex: 1 !important;
}
